<nav class="nav pt-1.5 pb-2 flex items-center justify-between relative flex-nowrap babybear:flex-wrap babybear:py-1.5 "
  aria-label="Primary" th:fragment="navhome">

  <!---->
  <a th:href="@{/login}" class="nav__logo-link link-no-visited-state z-1 mr-auto babybear:z-0 babybear:mr-0 babybear:flex-1 hover:no-underline focus:no-underline active:no-underline
  " data-tracking-control-name="guest_homepage-basic_nav-header-logo" data-tracking-will-navigate>


    <span class="sr-only">LinkedIF</span>
    <!-- IMGAGEM DO LOGO-->
    <img
      th:src="@{https://github.com/M4rcoToni/Web-2-LinkedIF/blob/master/src/main/resources/static/img/logo.png?raw=true}"
      alt="" width="150">
    <ul
      class="top-nav-menu flex items-center nav__menu order-3 after:up-down-divider after:!h-[37px] mr-0.5 babybear:hidden mamabear:hidden">
      <li class="mr-2">

        <a th:href="@{/vagas}" data-tracking-control-name="guest_homepage-basic_guest_nav_menu_jobs"
          data-tracking-will-navigate class="top-nav-link flex justify-center items-center h-[52px] hover:text-color-text visited:hover:text-color-text hover:no-underline
        w-[64px] flex-col mx-1 text-color-text-low-emphasis visited:text-color-text-low-emphasis">
          <icon class="top-nav-link__icon flex h-3 w-3 flex-shrink-0 "
            data-delayed-url="https://static.licdn.com/aero-v1/sc/h/92eb1xekc34eklevj0io6x4ki">
          </icon>
          <span class="top-nav-link__label-text font-sans text-sm leading-regular text-center font-regular">
            Vagas
          </span>
        </a>

      </li>
    </ul>


    <div class=" nav__cta-container order-3 flex gap-x-1 justify-end min-w-[100px] flex-nowrap flex-shrink-0 babybear:flex-wrap flex-2
  ">
      <div class="ml-2 dropdown d-grid gap-2">
        <button class="p-3 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false"
          data-toggle="dropdown">
          Cadastre-se
        </button>

        <div class="dropdown-menu input " aria-labelledby="dropdownMenuButton">
          <div class="text-center">
            <a class=" p-4 dropdown-item text-black fs-4" th:href="@{/cadastro/user}" role="button"
              aria-expanded="false" aria-controls="userComumId">
              Usuario
            </a>
            <a class=" p-4 dropdown-item text-black fs-4" th:href="@{/cadastro/empresa}" role="button"
              aria-expanded="false" aria-controls="userEmpresaId">
              Empresa
            </a>
          </div>

        </div>
      </div>
      <a class="btn-md btn btn-outline-success  text-success hover-not-disabled hover-" th:href="@{/login}"
        role="button">
        Entrar
      </a>
</nav>