<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF Shopping Car</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
    <nav th:replace="~{nav :: nav}"></nav>
    <!-- Header-->


    <!-- Header-->
    <header th:replace="~{header :: header}"></header>

    <div class="container">
        <p class="fs-2 mt-4">Cadstre seu veiculo em nosso site!</p>

        <div class="row m-3">
            <th:block th:include="mensagemValidacao"></th:block>

            <form method="post" enctype="multipart/form-data">

                <div class="m-3">
                    <div class="form-floating">
                        <input type="text" class="form-control mt-2" id="modelo" name="modelo" placeholder="Modelo *">
                        <label for="modelo">Digite o modelo do seu veículo:</label>

                    </div>
                </div>
                <div class="m-3 ">
                    <div class="form-floating">
                        <select id="categoria" name="categoria" class="form-control">
                            <option value="1">Caminhões</option>
                            <option value="2">Camionetes</option>
                            <option value="3">SUV</option>
                            <option value="4">Veículos de passeio</option>
                        </select>
                        <label for="categoria">Categoria do seu veículo:</label>
                        <!-- <input type="number" class="form-control mt-2" pattern="\d*" maxlength="1" min="1'" max="4"
                        placeholder="categoria *"> -->
                    </div>
                </div>
                <div class="m-3">
                    <div class="form-floating">
                        <input type="text" class="form-control mt-2" id="marca" name="marca" placeholder="marca *">
                        <label for="marca">Digite a Marca:</label>
                    </div>
                </div>
                <div class="m-3">
                    <div class="form-floating">
                        <input type="text" class="form-control mt-2" id="cor" name="cor" placeholder="cor *">
                        <label for="cor">Digite a cor do seu veículo:</label>
                    </div>
                </div>
                <div class="m-3">
                    <div class="form-floating">
                        <input type="text" class="form-control mt-2" id="placa" name="placa" placeholder="placa *"
                            min="1" maxlength="6" max="6">
                        <label for="placa">Digite a placa:</label>
                    </div>
                </div>
                <div class="m-3">
                    <div class="form-floating">
                        <input type="number" class="form-control mt-2" id="ano" name="ano" pattern="\d*" maxlength="4"
                            min="1980" max="2022" placeholder="Ano *">
                        <label for="ano">Digite o ano:</label>
                    </div>
                </div>
                <div class="m-3">
                    <div class="form-floating">
                        <input type="file" class="form-control mt-2" id="file" name="file" placeholder="imagem">
                        <label for="imagem" class="">Adicione a imagem do seu veículo:</label>
                    </div>
                </div>
                <div class="m-3 ">
                    <div class="form-floating">
                        <input type="number" class="form-control mt-2" id="preco" name="preco" placeholder="preco *"
                            min="1">
                        <label for="preco">Digite o preco:</label>
                    </div>
                </div>

                <!-- <div class="m-3 fs-5">
                    <label for="categoria">Imagem</label>
                    <input type="file" class="form-control mt-2" id="file" name="file">
                </div> -->
                <button type="submit" class="btn btn-primary m-3">Cadastrar Veiculo</button>
            </form>
        </div>
    </div>



    <!-- Footer-->
    <footer class="py-3 bg-primary ">
        <div class="container">
            <!-- <div th:each="categoria : ${categorias}">
                <a class="dropdown-item" href="" th:text="${categoria.nome}"></a>
            </div> -->
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- Core theme JS-->

</body>

</html>