<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<html lang="en">

<head>
  <meta name="pageKey" content="d_homepage-guest-home">
  <!---->
  <meta name="locale" content="en_US">
  <meta id="config" data-app-version="2.1.456" data-call-tree-id="AAXvgNp4lothMHdCra1izg=="
    data-jet-tags="guest-homepage" data-multiproduct-name="homepage-guest-frontend"
    data-service-name="homepage-guest-frontend" data-browser-id="75887441-9d01-4b63-8bd5-c773aa9a3537"
    data-enable-page-view-heartbeat-tracking data-disable-comscore-tracking
    data-page-instance="urn:li:page:d_homepage-guest-home;Ci1goNIXT66gy2XpxSHtbg=="
    data-disable-jsbeacon-pagekey-suffix="false" data-member-id="0">

  <link rel="canonical" href="https://www.linkedin.com/">
  <link rel="alternate" hreflang="de" href="https://de.linkedin.com/">
  <link rel="alternate" hreflang="en-IE" href="https://ie.linkedin.com/">
  <link rel="alternate" hreflang="en-US" href="https://www.linkedin.com/">
  <link rel="alternate" hreflang="pt" href="https://pt.linkedin.com/">
  <link rel="alternate" hreflang="en-IL" href="https://il.linkedin.com/">
  <link rel="alternate" hreflang="ms-MY" href="https://my.linkedin.com/">
  <link rel="alternate" hreflang="en-IN" href="https://in.linkedin.com/">
  <link rel="alternate" hreflang="es-BO" href="https://bo.linkedin.com/">
  <link rel="alternate" hreflang="en-ZA" href="https://za.linkedin.com/">
  <link rel="alternate" hreflang="zh-CN" href="https://cn.linkedin.com/">
  <link rel="alternate" hreflang="en-AU" href="https://au.linkedin.com/">
  <link rel="alternate" hreflang="id" href="https://id.linkedin.com/">
  <link rel="alternate" hreflang="en-NG" href="https://ng.linkedin.com/">
  <link rel="alternate" hreflang="de-CH" href="https://ch.linkedin.com/">
  <link rel="alternate" hreflang="ja-JP" href="https://jp.linkedin.com/">
  <link rel="alternate" hreflang="en-ZW" href="https://zw.linkedin.com/">
  <link rel="alternate" hreflang="en-JM" href="https://jm.linkedin.com/">
  <link rel="alternate" hreflang="es-SV" href="https://sv.linkedin.com/">
  <link rel="alternate" hreflang="ms" href="https://my.linkedin.com/">
  <link rel="alternate" hreflang="es-GT" href="https://gt.linkedin.com/">
  <link rel="alternate" hreflang="en" href="https://www.linkedin.com/">
  <link rel="alternate" hreflang="es-CR" href="https://cr.linkedin.com/">
  <link rel="alternate" hreflang="it" href="https://it.linkedin.com/">
  <link rel="alternate" hreflang="es-CL" href="https://cl.linkedin.com/">
  <link rel="alternate" hreflang="es" href="https://es.linkedin.com/">
  <link rel="alternate" hreflang="zh" href="https://cn.linkedin.com/">
  <link rel="alternate" hreflang="es-CO" href="https://co.linkedin.com/">
  <link rel="alternate" hreflang="es-PE" href="https://pe.linkedin.com/">
  <link rel="alternate" hreflang="ar" href="https://ae.linkedin.com/">
  <link rel="alternate" hreflang="en-NZ" href="https://nz.linkedin.com/">
  <link rel="alternate" hreflang="pt-PT" href="https://pt.linkedin.com/">
  <link rel="alternate" hreflang="es-PA" href="https://pa.linkedin.com/">
  <link rel="alternate" hreflang="ja" href="https://jp.linkedin.com/">
  <link rel="alternate" hreflang="en-SG" href="https://sg.linkedin.com/">
  <link rel="alternate" hreflang="fr-FR" href="https://fr.linkedin.com/">
  <link rel="alternate" hreflang="ro" href="https://ro.linkedin.com/">
  <link rel="alternate" hreflang="en-GB" href="https://uk.linkedin.com/">
  <link rel="alternate" hreflang="nl" href="https://nl.linkedin.com/">
  <link rel="alternate" hreflang="en-KE" href="https://ke.linkedin.com/">
  <link rel="alternate" hreflang="no" href="https://no.linkedin.com/">
  <link rel="alternate" hreflang="en-CA" href="https://ca.linkedin.com/">
  <link rel="alternate" hreflang="ru" href="https://ru.linkedin.com/">
  <link rel="alternate" hreflang="en-GH" href="https://gh.linkedin.com/">
  <link rel="alternate" hreflang="es-PR" href="https://pr.linkedin.com/">
  <link rel="alternate" hreflang="fr" href="https://fr.linkedin.com/">
  <link rel="alternate" hreflang="es-DO" href="https://do.linkedin.com/">
  <link rel="alternate" hreflang="de-AT" href="https://at.linkedin.com/">
  <link rel="alternate" hreflang="es-EC" href="https://ec.linkedin.com/">
  <link rel="alternate" hreflang="cs-CZ" href="https://cz.linkedin.com/">
  <link rel="alternate" hreflang="en-PH" href="https://ph.linkedin.com/">
  <link rel="alternate" hreflang="en-PK" href="https://pk.linkedin.com/">
  <link rel="alternate" hreflang="de-DE" href="https://de.linkedin.com/">
  <link rel="alternate" hreflang="sv" href="https://se.linkedin.com/">
  <link rel="alternate" hreflang="ko" href="https://kr.linkedin.com/">
  <link rel="alternate" hreflang="en-TT" href="https://tt.linkedin.com/">
  <link rel="alternate" hreflang="zh-TW" href="https://tw.linkedin.com/">
  <link rel="alternate" hreflang="en-HK" href="https://hk.linkedin.com/">
  <link rel="alternate" hreflang="pt-BR" href="https://br.linkedin.com/">
  <link rel="alternate" hreflang="es-UY" href="https://uy.linkedin.com/">
  <link rel="alternate" hreflang="es-ES" href="https://es.linkedin.com/">
  <link rel="alternate" hreflang="es-VE" href="https://ve.linkedin.com/">
  <link rel="alternate" hreflang="es-MX" href="https://mx.linkedin.com/">
  <link rel="alternate" hreflang="cs" href="https://cz.linkedin.com/">
  <link rel="alternate" hreflang="es-AR" href="https://ar.linkedin.com/">
  <link rel="alternate" hreflang="th" href="https://th.linkedin.com/">
  <link rel="alternate" hreflang="sv-SE" href="https://se.linkedin.com/">
  <link rel="alternate" hreflang="tl" href="https://ph.linkedin.com/">
  <link rel="alternate" hreflang="da-DK" href="https://dk.linkedin.com/">
  <link rel="alternate" hreflang="fr-LU" href="https://lu.linkedin.com/">
  <link rel="alternate" hreflang="pl" href="https://pl.linkedin.com/">
  <link rel="alternate" hreflang="da" href="https://dk.linkedin.com/">
  <link rel="alternate" hreflang="tr" href="https://tr.linkedin.com/">
  <link rel="alternate" hreflang="x-default" href="https://www.linkedin.com/">

  <!---->
  <!---->
  <!---->
  <!---->
  <link rel="icon" href="https://static.licdn.com/aero-v1/sc/h/al2o9zrvru7aqj8e1x2rzsrca">

  <script>
    function getDfd() { let yFn, nFn; const p = new Promise(function (y, n) { yFn = y; nFn = n; }); p.resolve = yFn; p.reject = nFn; return p; }
    window.lazyloader = getDfd();
    window.tracking = getDfd();
    window.impressionTracking = getDfd();
    window.ingraphTracking = getDfd();
    window.appDetection = getDfd();
    window.pemTracking = getDfd();
  </script>

  <!---->

  <title>LinkedIF</title>
  <meta property="og:site_name" content="LinkedIn">
  <meta name="description"
    content="750 million+ members | Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="LinkedIn: Log In or Sign Up">
  <meta property="og:description"
    content="750 million+ members | Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.">
  <meta property="og:type" content="website">
  <meta name="litmsProfileName" content="homepage-guest-frontend">
  <meta property="og:url" content="https://www.linkedin.com/">
  <meta name="naver-site-verification" content="6c180087cc8c9aef0b448521383709b955b7dc5b">
  <meta property="og:image" content="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@linkedin">
  <meta name="twitter:title" content="LinkedIn: Log In or Sign Up">
  <meta name="twitter:description"
    content="750 million+ members | Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.">

  <meta name="linkedin:pageTag" content="basic">
  <meta name="clientSideIngraphs" content="1" data-gauge-metric-endpoint="/homepage-guest/api/ingraphs/gauge"
    data-counter-metric-endpoint="/homepage-guest/api/ingraphs/counter">
  <meta name="robots" content="noarchive">

  <link rel="stylesheet" href="https://static.licdn.com/aero-v1/sc/h/86zy6pk2bnlnkpgdsvll6f113">

  <!---->
</head>

<body dir="ltr">


  <nav class="nav pt-1.5 pb-2 flex items-center justify-between relative flex-nowrap babybear:flex-wrap babybear:py-1.5
    " aria-label="Primary">

    <!---->
    <a href="/?trk=guest_homepage-basic_nav-header-logo" class="nav__logo-link link-no-visited-state z-1 mr-auto babybear:z-0 babybear:mr-0 babybear:flex-1 hover:no-underline focus:no-underline active:no-underline
      " data-tracking-control-name="guest_homepage-basic_nav-header-logo" data-tracking-will-navigate>


      <span class="sr-only">LinkedIF</span>
      <!-- IMGAGEM DO LOGO-->
      <img th:src="@{/img/logo.png}" alt="" width="500">
    <ul
      class="top-nav-menu flex items-center nav__menu order-3 after:up-down-divider after:!h-[37px] mr-0.5 babybear:hidden mamabear:hidden">
      <li class>

        <a href="https://www.linkedin.com/jobs/search?trk=guest_homepage-basic_guest_nav_menu_jobs"
          data-tracking-control-name="guest_homepage-basic_guest_nav_menu_jobs" data-tracking-will-navigate class="top-nav-link flex justify-center items-center h-[52px] hover:text-color-text visited:hover:text-color-text hover:no-underline
    w-[64px] flex-col mx-1
    text-color-text-low-emphasis visited:text-color-text-low-emphasis">
          <icon class="top-nav-link__icon flex h-3 w-3 flex-shrink-0 "
            data-delayed-url="https://static.licdn.com/aero-v1/sc/h/92eb1xekc34eklevj0io6x4ki">
          </icon>
          <span class="top-nav-link__label-text font-sans text-sm leading-regular text-center
      font-regular">
            Trabalhos
          </span>
        </a>

      </li>
    </ul>


    <div class="nav__cta-container order-3 flex gap-x-1 justify-end min-w-[100px] flex-nowrap flex-shrink-0 babybear:flex-wrap flex-2
      ">
      <a class="nav__button-tertiary btn-md btn-tertiary"
        href="https://www.linkedin.com/signup/cold-join?trk=guest_homepage-basic_nav-header-join"
        data-tracking-control-name="guest_homepage-basic_nav-header-join" data-tracking-will-navigate>
        Cadastre-se
      </a>
      <a class="nav__button-secondary btn-md btn-secondary-emphasis"
        href="https://www.linkedin.com/login?fromSignIn=true&amp;trk=guest_homepage-basic_nav-header-signin"
        data-tracking-control-name="guest_homepage-basic_nav-header-signin" data-tracking-will-navigate>
        Entrar
      </a>

    </div>

  </nav>

  <main class="flex flex-col items-center overflow-hidden min-h-[calc(100vh-76px-50px)]" role="main" id="main-content">


    <!---->


    <section
      class="section min-h-[560px] flex-nowrap pt-[40px] babybear:flex-col babybear:min-h-[0] babybear:px-mobile-container-padding babybear:pt-[24px]"
      data-test-id="hero">
      <div class="self-start relative flex-shrink-0 w-[55%] pr-[42px] babybear:w-full babybear:pr-[0px]"
        data-test-id="hero__content">
        <h1 class="main-heading text-color-text-accent-2 babybear:pb-[24px]" data-test-id="hero__headline">
          Bem-vindo à sua comunidade profissional
        </h1>


        <div class="sign-in-form-container">
          <form class="sign-in-form hero-cta-form" th:action="@{/login}" method="post" novalidate
            data-js-module-id="d2l-sign-in-form">

            <div class="alert hidden" role="alert" tabindex="-1">
              <div class="wrapper">
                <p class="alert-content">

                </p>
              </div>
            </div>


            <input name="loginCsrfParam" value="75887441-9d01-4b63-8bd5-c773aa9a3537" type="hidden">

            <div class="sign-in-form__form-input-container">

              <div class="input ">

                <!---->
                <input class="input__input" autocomplete="username" required="true" id="username" name="username"
                  placeholder=" " type="text">
                <!---->
                <label class="input__label" for="username">Email</label>
              </div>
              <div class="input ">

                <!---->
                <input class="input__input" autocomplete="current-password" required="true" id="password"
                  name="password" placeholder=" " type="password">
                <!---->
                <label class="input__label" for="password">Senha</label>

              </div>

            </div>

            <!---->
            <!---->
            <input name="trk" value="homepage-basic_signin-form_submit" type="hidden">

            <a class="sign-in-form__forgot-password-link" href=""
              data-tracking-control-name="homepage-basic_signin-form_forgot-password-link"
              data-tracking-will-navigate>Esqueceu a senha?</a>

            <button class="sign-in-form__submit-button"
              data-tracking-control-name="homepage-basic_signin-form_submit-button" data-tracking-litms type="submit">
              Entrar
            </button>
          </form>

          <div class="sign-in-form__third-party-container" aria-hidden="true">
            <div class="sign-in-form__or-divider">
              <span class="sign-in-form__or-span">
                or
              </span>
            </div>
          </div>

          <!---->

          <div class="loader loader--full-screen">
            <div class="loader__container mb-2 overflow-hidden">
              <icon class="loader__icon inline-block loader__icon--default text-color-progress-loading"
                data-delayed-url="https://static.licdn.com/aero-v1/sc/h/ddi43qwelxeqjxdd45pe3fvs1"
                data-svg-class-name="loader__icon-svg--large fill-currentColor h-[60px] min-h-[60px] w-[60px] min-w-[60px]">
              </icon>
            </div>
          </div>

        </div>

        <a class="sign-in-form__join-cta btn-lg btn-secondary w-column babybear:w-full block mb-3"
          href="https://www.linkedin.com/signup/cold-join"
          data-tracking-control-name="homepage-basic_sign-in-form_join-cta" data-tracking-will-navigate>
          Novo aqui? Cadastre-se
        </a>

        <!---->
      </div>
      <img
        class="flip-rtl block z-[-1] w-[700px] h-[560px] relative flex-shrink babybear:w-[374px] babybear:h-[214px] babybear:static"
        alt="Welcome to your professional community" data-test-id="hero__illustration"
        src="https://static.licdn.com/aero-v1/sc/h/dxf91zhqd2z6b0bwg85ktm5s4">
    </section>

    <!----><!---->




    <section class="section py-section flex-wrap
                babybear:flex-col
                papabear:flex-nowrap" data-test-id="explore-content">
      <div class="self-start mb-[24px] w-full flex-shrink-0
              papabear:w-column papabear:mr-[72px] papabear:mb-[0px]" data-test-id="pill-list-module__cta">
        <h2 class="secondary-heading">
          Explorar tópicos de seu interesse
        </h2>

        <!---->

      </div>

      <div class="w-full papabear:max-w-[calc(theme('spacing.content-max-w')-theme('spacing.column')-72px)]">







        <h2 class="etta-caps-header mb-[20px]">
          TÓPICOS DE CONTEÚDO
        </h2>





        <ul class="show-more-less__list show-more-less__list--no-hidden-elems"
          data-impression-id="homepage-basic_explore-content_pill-list-module_etta-show-more-less_show-more-less">



          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary-emphasis"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">
              Ver todos os tópicos
            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">

              Local de trabalho

            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">

              Procura por emprego

            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">

              Carreiras

            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="https://www.linkedin.com/pulse/topics/job-search-c27/interviewing-c28/">

              Entrevistando

            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">
              Salário e Remuneração </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="">

              Estágios

            </a>

          </li>
          <li class="explore-content__pill">

            <a class="btn-lg mb-1.5 mr-[6px] flex items-center w-max float-left btn-secondary"
              data-tracking-control-name="homepage-basic_explore-content_topic-pill" data-tracking-will-navigate
              href="https://www.linkedin.com/pulse/topics/workplace-c9/employee-benefits-c12/">
              Benefícios do empregado
            </a>

          </li>



        </ul>


      </div>
    </section>


    <footer class="li-footer bg-transparent w-full ">
      <ul
        class="li-footer__list flex flex-wrap flex-row items-start justify-start w-full h-auto min-h-[50px] my-[0px] mx-auto py-3 px-2 papabear:w-[1128px] papabear:p-0">

        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">

          <span class="sr-only">LinkedIn</span>
          <icon class="li-footer__copy-logo text-color-logo-brand-alt inline-block self-center h-[14px] w-[56px] mr-1"
            data-delayed-url="https://static.licdn.com/aero-v1/sc/h/e12h2cd8ac580qen9qdd0qks8"></icon>
          <span class="li-footer__copy-text flex items-center">&copy; 2022</span>

        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://about.linkedin.com?trk=homepage-basic_footer-about"
            data-tracking-control-name="homepage-basic_footer-about" data-tracking-will-navigate>

            About

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/accessibility?trk=homepage-basic_footer-accessibility"
            data-tracking-control-name="homepage-basic_footer-accessibility" data-tracking-will-navigate>

            Accessibility

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/legal/user-agreement?trk=homepage-basic_footer-user-agreement"
            data-tracking-control-name="homepage-basic_footer-user-agreement" data-tracking-will-navigate>

            User Agreement

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/legal/privacy-policy?trk=homepage-basic_footer-privacy-policy"
            data-tracking-control-name="homepage-basic_footer-privacy-policy" data-tracking-will-navigate>

            Privacy Policy

          </a>
        </li>

        <!---->
        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/legal/cookie-policy?trk=homepage-basic_footer-cookie-policy"
            data-tracking-control-name="homepage-basic_footer-cookie-policy" data-tracking-will-navigate>

            Cookie Policy

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/legal/copyright-policy?trk=homepage-basic_footer-copyright-policy"
            data-tracking-control-name="homepage-basic_footer-copyright-policy" data-tracking-will-navigate>

            Copyright Policy

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://brand.linkedin.com/policies?trk=homepage-basic_footer-brand-policy"
            data-tracking-control-name="homepage-basic_footer-brand-policy" data-tracking-will-navigate>

            Brand Policy

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/psettings/guest-controls?trk=homepage-basic_footer-guest-controls"
            data-tracking-control-name="homepage-basic_footer-guest-controls" data-tracking-will-navigate>

            Guest Controls

          </a>
        </li>


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">
          <a class="li-footer__item-link flex items-center font-sans text-xs font-bold text-color-text-low-emphasis hover:text-color-link-hover focus:text-color-link-focus"
            href="https://www.linkedin.com/legal/professional-community-policies?trk=homepage-basic_footer-community-guide"
            data-tracking-control-name="homepage-basic_footer-community-guide" data-tracking-will-navigate>

            Community Guidelines

          </a>
        </li>


        <!---->


        <li
          class="li-footer__item font-sans text-xs text-color-text-low-emphasis flex flex-shrink-0 justify-start p-1 relative w-50% papabear:justify-center papabear:w-auto">












        </li>

      </ul>

      <!---->
    </footer>


    <script src="https://static.licdn.com/aero-v1/sc/h/9q42psw84tv933tbvwqoe327v" async defer></script>

    <!---->
    <script data-delayed-url="https://static.licdn.com/aero-v1/sc/h/etkd25e7kzp2lrg1w9y0kixlu"
      data-module-id="google-sign-in-lib"></script>
    <script data-delayed-url="https://static.licdn.com/aero-v1/sc/h/98lptr8kagfxge22q7k1fps8"
      data-module-id="google-one-tap-lib"></script>


    <script src="https://static.licdn.com/aero-v1/sc/h/7dzsoyz1bsr7e64b321m3tjgi" async></script>

</body>

</html>