<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">
    <div class="container px-4 px-lg-5">
        <!-- HOME -->
        <a class="navbar-brand" href="#!">Sua Melhor Escolha!</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

        <!-- NAV BAR -->
        <div class="collapse navbar-collapse pr-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/index}">Página
                        inicial</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/save}"> Cadastrar um Veiculo</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <div>

                    </div>
                    <!-- categorias -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="categoria : ${categorias}">
                            <a class="dropdown-item" href="#!" th:text="${categoria.nome}"
                                th:href="@{/index/categorias/{cat}(cat=${categoria.id})}"></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <div class="dropdown">
                        <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-auto-close="outside">
                            Pesquisar por modelo
                        </a>
                        <form class="dropdown-menu p-4" action="/modelos" method="post">
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Por Modelo</label>
                                <input type="text" class="form-control" id="modelo" name="pesquisar"
                                    placeholder="Honda...">
                            </div>
                            <div class="mb-3">
                                <label for="ano" class="form-label">Por Ano </label>
                                <input type="number" class="form-control" id="ano" name="ano" placeholder="2001..."
                                    pattern="\d*" maxlength="4" min="1980" max="2022">
                            </div>
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                        </form>
                    </div>
                </li>
            </ul>
            <form class="d-flex" method="post" th:action="@{/logout}">
                <button class="btn btn-outline-primary rounded-2" type="submit">Log Out</button>
            </form>

        </div>

    </div>
</nav>