<div>

  <form class="collapse sign-in-form hero-cta-form" id="userComumId" method="post" novalidate
    data-js-module-id="d2l-sign-in-form" th:fragment="formcomum">
    <div class="sign-in-form__form-input-container">
      <!-- INPUTS DE COMUM -->
      <div class="input   mx-auto">
        <div class="input">
          <input class="input__input" required="true" id="username" name="username" placeholder=" " type="text">
          <label class="input__label" for="username">Email</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="password" name="password" placeholder=" " type="password">
          <label class="input__label" for="password">Senha</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="Nome" name="Nome" placeholder=" " type="text">
          <label class="input__label" for="Nome">Nome Completo</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="idade" name="idade" placeholder=" " type="number">
          <label class="input__label" for="idade">Idade</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="cnpjoucpf" name="cnpjoucpf" placeholder=" " type="number">
          <label class="input__label" for="cnpjoucpf">CPF</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="telefone" name="telefone" placeholder=" " type="number">
          <label class="input__label" for="telefone">Telefone</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="cidade" name="cidade" placeholder=" " type="cidade">
          <label class="input__label" for="cidade">Cidade</label>
        </div>
        <div class="input ">
          <input class="input__input" required="true" id="regiao" name="regiao" placeholder=" " type="regiao">
          <label class="input__label" for="regiao">Regiao</label>
        </div>


        <div class=" mt-4 d-grid gap-2 ">
          <button class="btn-lg btn btn-success" type="submit">
            Cadastrar
          </button>
        </div>

  </form>
</div>